@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #7cf03d;
    --white-color: #fff;
    --text-color-light: #fff3;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--white-color);
}

/* headings design */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

header.active {
    animation: show-header 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-header {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--white-color);
}

nav a {
    font-size: 2rem;
    margin-left: 3rem;
    color: var(--white-color);
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover,
nav a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

/*------------ home section ------------*/
.bars-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bars-box .bar {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
}

.bars-box.active .bar {
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 7% 2rem;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

section.active {
    animation: show-content linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
        overflow: auto;
        transition: 0.6s;
    }
}

.home {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-details h1 {
    font-size: clamp(3.5rem, 10vw, 5.5rem);
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-details h2 {
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
}

.home-details h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.07rem var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

    25%,
    100% {
        display: none;
    }
}

.home-details h2 span::before {
    content: attr(data-tex);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    overflow: hidden;
    white-space: nowrap;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.home-details p {
    font-size: 1.6rem;
    margin: 1.5rem 0 2.5rem;
}

.home-details .btn-sci {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--bg-color);
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}

.home-details .btn-sci .sci {
    margin-left: 2rem;
}

.home-details .btn-sci .sci a {
    display: inline-flex;
    padding: .8rem;
    margin: .8rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    font-size: 2rem;
    transition: 0.3s;
}

.home-details .btn-sci .sci a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border: .01rem solid var(--bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}


/* ----------- services section ------------*/
.headding {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.headding span {
    color: var(--main-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 2rem;
}

.services-container .services-box {
    padding: 3rem 2.5rem;
    background-color: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: 0.5s;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-box .icon i {
    font-size: 4.5rem;
    transition: .5s;
}

.services-box:hover .icon :not(a i) {
    color: var(--main-color);
}

.services-box .icon a {
    display: inline-flex;
    background-color: var(--white-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}

.services-box:hover .icon a {
    background-color: var(--main-color);
}

.services-box .icon a i {
    color: var(--bg-color);
    font-size: 3rem;
    transform: rotate(225deg);
}

.services-box .icon a:hover i {
    transform: rotate(180deg);
}

.services-box h3 {
    font-size: 3rem;
    margin: .5rem 0 2rem;
    transition: 0.5s;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 1.6rem;
}

/* ----------- resume section ------------*/
.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-box h2 {
    font-size: 4.5rem;
}

.resume-box p {
    font-size: 1.6rem;
    margin: 1.5rem 0 3rem;
}

.resume-box .desc {
    margin: 2rem 0 2.5rem;
}

.resume-box .resume-btn {
    width: 100%;
    height: 5.3rem;
    background: var(--second-bg-color);
    border: 0.2rem solid var(--second-bg-color);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}

.resume-box .resume-btn.active {
    border-color: var(--main-color);
    color: var(--main-color);
}

.resume-details {
    display: none;
}

.resume-details.active {
    display: block;
}

.resume-box .headding {
    font-size: 3.5rem;
    text-align: left;
}

.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    height: 45rem;
    overflow: auto;
}

.resume-list::-webkit-scrollbar {
    width: .7rem;
}

.resume-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.resume-list .resume-item {
    background: var(--second-bg-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-item .year {
    color: var(--main-color);
}

.resume-item h3 {
    font-size: 2.2rem;
    margin: 0;
}

.resume-item p {
    font-size: 1.6rem;
    margin: 0;
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.resume-item .company::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: var(--main-color);
    border-radius: 50%;
    margin-left: -2rem;
}

/*--------------- skills section --------*/
.resume-details.skills .resume-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
    overflow: visible;
}

.resume-details.skills .resume-item {
    position: relative;
    align-items: center;
    height: auto;
}

.resume-details.skills .resume-item i {
    font-size: 8.5rem;
}

.resume-details.skills .resume-item:hover i {
    color: var(--main-color);
    transition: .5s;
}

.resume-details.skills .resume-item span {
    position: absolute;
    top: -20%;
    background: var(--white-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
    transition: 0.2s;
}

.resume-details.skills .resume-item:hover span {
    top: -25%;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/*--------------- About section --------*/
.resume-details.about .resume-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.resume-details.about .resume-item {
    height: auto;
    padding: 0 0 .5rem;
    background: transparent;
}

.resume-details.about .resume-item p {
    color: var(--main-color);
}

.resume-details.about .resume-item p span {
    color: var(--white-color);
    margin-left: 1rem;
    font-size: 1.8rem;
}

/* ----------- Projects section ------------*/
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.project-details {
    display: none;
}

.project-details.active {
    display: block;
}

.project-box .numb {
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--white-color);
    color: transparent;
    line-height: 1;
}

.project-box h3 {
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
}

.project-box p {
    font-size: 1.6rem;
}

.project-box .tech {
    margin: 2rem 0;
    font-weight: 700;
    color: var(--main-color);
    border-bottom: .1rem solid var(--white-color);
    padding-bottom: 2rem;
}

.project-box .live-github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--white-color);
    border-radius: 50%;
    background: var(--second-bg-color);
}

.project-box .live-github a:hover {
    color: var(--main-color);
    transition: .4s;
}

.project-box .live-github a:first-child {
    margin-right: 1.5rem;
}

.project-box .live-github a:first-child i {
    transform: rotate(135deg);
}

.project-box .live-github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--white-color);
    color: var(--bg-color);
    opacity: 0;
    transition: .2s;
}

.project-box .live-github a:hover span {
    top: -70%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.project-box .project-carousel {
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 0.4rem solid var(--text-color-light);
}

.project-carousel .img-slide {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
}

.project-carousel .img-item {
    height: inherit;
}

.project-carousel .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.project-box .navigation {
    text-align: right;
    margin-top: 2rem;
}

.project-box .navigation button {
    display: inline-flex;
    padding: .4rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    font-size: 4rem;
    color: var(--main-color);
    cursor: pointer;
}

.project-box .navigation button.disabled {
    border-color: var(--second-bg-color);
    color: var(--text-color-light);
}

.project-box .navigation .arrow-right {
    margin-left: 1.5rem;
}


/* ----------- Contact section ------------*/
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
}

.contact-container .contact-box:first-child {
    align-self: center;
}

.contact-box h2 {
    font-size: 4.5rem;
}

.contact-box p {
    font-size: 1.6rem;
}

.contact-box .desc {
    margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-details {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.contact-details i {
    display: inline-flex;
    background: var(--second-bg-color);
    color: var(--main-color);
    font-size: 3rem;
    padding: 1.2rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}

.contact-details .detail p:first-child {
    color: var(--main-color);
}

.contact-box form {
    background: var(--second-bg-color);
    padding: 2.5rem 3.5rem 3.5rem;
    border-radius: 1rem;
    text-align: center;
}

.contact-box .headding {
    font-size: 3.5rem;
}

.contact-box .feild-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.contact-box .feild-box input,
.contact-box .feild-box textarea {
    padding: 1.5rem;
    background: var(--bg-color);
    border: .15rem solid var(--bg-color);
    border-radius: .6rem;
    font-size: 1.6rem;
    color: var(--white-color);

}

.contact-box .feild-box textarea {
    grid-column: 1/-1;
    height: 26rem;
    resize: none;
}

.contact-box .feild-box input:focus,
.contact-box .feild-box textarea:focus {
    border-color: var(--main-color);
}

.contact-box .btn {
    margin-top: 2rem;
    cursor: pointer;
}